.Hessen-container {
  padding: 2em;
  background-color: $ocean-green;
  color: white;
  margin-top: 3em;
}

.Hessen-link {
  border: 0;
}

.Hessen-badge-container {
  position: relative;
  background-color: white;
}

.Hessen-badge {
  position: absolute;
  width: 150px;
  bottom: 20px;
  right: 20px;
  padding-left: 20px;
  padding-right: 20px;
  display: block;
}

.Hessen-mobile-text {
  display: none;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 600px) {
  .Hessen-badge {
    display: none;
  }
  .Hessen-mobile-text {
    display: block;
  }

  .Hessen-mobile-badge {
    width: 100px;
  }
}