/* HERO-SECTION */

.Hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-column-gap: 2em;
}

.Hero-container__text {
  align-self: center;

  h1 {
    margin-bottom: 0.2em;
    color: $pine-green;
    font-weight: 700;
  }

  p {
    font-size: 1.1em;
    line-height: 1.5em;
  }

  hr {
    width: 90px;
    border-top: 1px solid $isabelline;
    border-left: 0;
    border-bottom: 0;
    border-right: 0;
    margin: 0.5em 0;
  }

  small {
    text-transform: uppercase;
    color: $pine-green;
    font-weight: 700;
    letter-spacing: 0.05em;
  }
}

.Hero-container__image {
  img {
    max-width: 100%;
  }
}

/* GOALS-SECTION */

.Goals-container {
  background-color: $pine-green;
  color: white;
  padding: 2em;
}

.Goals-grid {

}

/* REASONS-SECTION */

.Reasons-container {
  padding: 2em;

  h2 {
    text-align: center;
  }
}

.Reasons-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 1em;

}

/* SUPPORT-SECTION */

.Support-container {
  padding: 2em;
}

/* CONTACT-SECTION */

.Contact-container {
  padding: 2em;
  background-color: $isabelline;
}