.Hero-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-column-gap: 2em;
}

.Hero-container__text {
  align-self: center;
}

.Hero-container__image {
  img {
    max-width: 100%;
  }
}

.Goals-container {

}