.Footer-container {
  background-color: $jet-black;
  padding: 2em 4em 2em 4em;
  letter-spacing: 0.3pt;
  color: $isabelline;
  max-width: 100vw;
  line-height: 2em;

  a {
    color: $isabelline;
    text-decoration: none;
    transition: all 0.5s;
  }

  a:hover {
    color: $pine-green;
    border-bottom: 1px solid $pine-green;
  }
}

@media only screen and (max-width: 999px) {
  .Footer-container {
    padding: 1em 4em 1em 4em;
  }
}

@media only screen and (max-width: 576px) {
  .Footer-container {
    padding: 0 0 0 2em;
  }
}