.Footer-container {
  background-color: $jet-black;
  padding: 4em 8em 4em 8em;
  letter-spacing: 0.3pt;
  color: $isabelline;
  width: 100%;
  line-height: 2em;

  a {
    color: $isabelline;
    text-decoration: none;
    transition: all 0.5s;
  }
  a:hover {
    color: $pine-green;
    border-bottom: 1px solid $pine-green;
  }
}

.Footer-line {
  width: 150px;
  border-top: 1px solid #3f3f41;
  border-left: 0;
  border-bottom: 0;
  border-right: 0;
  margin: 0.5em 0;
}

@media only screen and (max-width: 999px) {
  .Footer-container {
    padding: 2em 4em 2em 4em;
  }
}

@media only screen and (max-width: 576px) {
  .Footer-container {
    padding: 0 0 0 2em;
  }
}