.header {
  background: white;
  margin-bottom: 0.45rem;
  top: 0;
  max-width: 100vw;
  z-index: 3;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5em;
  margin: 0 auto;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    color: $rich-black;
    padding: 0 .5em;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 700;
  }

  .logo-image {
    height: auto;
    max-width: 70%;
    z-index: 1;
  }

  a:hover {
    color: $pine-green;
  }

  p {
    font-size: 2em;
    font-weight: bold;
    margin: 0;

    a {
      color: $jet-black;
    }

  }
}

@media only screen and (max-width: 600px) {
  .container {
    white-space: nowrap;
    height: 5.5em;
  }
}

@media only screen and (max-width: 350px) {
  li {
    a {
      font-size: 0.9rem;
    }
  }
}

