.header {
  background: white;
  margin-bottom: 0.45rem;
  top: 0;
  max-width: 100vw;
  z-index: 3;
}

.is-current-section {
  a{
    color: $ocean-green !important;
  }
}
.scrolled-past-section {
  a{
    color: $rich-black !important;
  }
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5.5em;
  margin: 0 auto;
  max-width: 1200px;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    color: $rich-black;
    padding: 0 .5em;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 700;
  }

  a:hover {
    color: $ocean-green;
  }

  p {
    font-size: 2em;
    font-weight: bold;
    margin: 0;

    a {
      color: $jet-black;
    }

  }
}

.logo-large {
  height: auto;
  max-width: 30%;
  z-index: 1;
  display: block;
}

.logo-small {
  height: auto;
  max-width: 50%;
  padding: 0.5em 1em;
  z-index: 1;
  display: none;
}

@media only screen and (max-width: 706px) {
  .container {
    white-space: nowrap;
    height: 5.5em;
    ul {
      padding: 0 0.5em 0 0;
    }
  }
  .logo-large {
    display: none;
  }
  .logo-small {
    display: block;
    padding: 1em 0.25em 1em;
    max-width: 28%;
  }
}

@media only screen and (max-width: 414px) {
  .logo-small {
    max-width: 48%;
  }
}

@media only screen and (max-width: 375px) {
  li {
    a {
      font-size: 0.9rem;
    }
  }
  .logo-small {
    max-width: 60%;
  }
}

@media only screen and (max-width: 320px) {
  .logo-small {
    max-width: 98%;
  }
}

