.header {
  background: white;
  margin-bottom: 0.45rem;
  top: 0;
  max-width: 100vw;
  z-index: 3;
  padding: 1em;
}

.container {
  display: flex;
  justify-content: space-between;
  height: 4em;
  line-height: 4em;


  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  a {
    display: block;
    color: $rich-black;
    padding: 0 .5em;
    text-decoration: none;
    transition: color 0.3s;
    font-weight: 700;
  }

  a:hover {
    color: $pine-green;
  }

  p {
    font-size: 2em;
    font-weight: bold;
    margin: 0;

    a {
      color: $jet-black;
    }

  }
}

@media only screen and (max-width: 600px) {
  .container {
    flex-direction: column;
    white-space: nowrap;
    height: 5.5em;
  }
}
@media only screen and (max-width: 350px) {
    li {
      a {
        font-size: 0.9rem;
      }
    }
  }

