/* Overall margin; to be added to every container
to keep layout consistency
 */

.margin-left {
  margin-left: 2em;
}

@media only screen and (max-width: 999px) {
  .margin-left {
    margin-left: 0;
  }
}

/* Links */

.link {
  color: $pine-green;
  text-decoration: none;
  border-bottom: 1px solid $pine-green;
  transition: all 0.3s;
  cursor: pointer;
}

.link:hover {
  color: $jet-black;
  border-bottom: 0;
}

/* Buttons */

.button {
  box-sizing: inherit;
  transition-property: all;
  transition-duration: .2s;
  transition-timing-function: ease;

  cursor: pointer;
  padding: 8px 12px;
  display: inline-block;
  text-decoration: none;
  font-size: 18px;

  text-align: center;
  text-transform: none;
  font-weight: 700;
}

.green-button {
  background-color: $pine-green;
  border: 3px solid $pine-green;
  color: $isabelline;
}

.green-button:hover {
  background-color: $isabelline;
  color: $pine-green;
  border: 3px solid $pine-green;
}

/* Button classes for colored backgrounds */

.white-button {
  background-color: $isabelline;
  border: 3px solid $isabelline;
  color: $lapislazuli;
}

.white-button:hover {
  background-color: transparent;
  color: $isabelline;
  border: 3px solid $isabelline;
}

/* To be put over regular titles such as h1, h2, h3 ... */

.subtitle {
  text-transform: uppercase;
  color: $lapislazuli;
  font-weight: 800;
  letter-spacing: 1pt;
}

/* Helper class to overwrite color class;
for example to be used on colored backgrounds for better readability */

.white {
  color: white;
}