/* Primary Colors */
$pine-green: #45B69C;

/* Secondary Colors */
$lapislazuli: #006DA5;
$burnished-brown: #59656f;

/* Text Colors */
$rich-black: #121619;

/* Background Colors */
$isabelline: #FBF7F4;
$jet-black: #2B2B2C;
