/* Primary Colors */
$ocean-green: #45B69C;

/* Secondary Colors */
$allports-blue: #006DA5;
$shuttle-grey: #59656f;

/* Text Colors */
$rich-black: #121619;

/* Background Colors */
$isabelline: #FBF7F4;
$jet-black: #2B2B2C;
